@use "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: variables.$secondary-font;
  word-break: break-word;
}
body {
  img {
    max-width: 100%;
  }
  li.domain {
    display: flex;
  }
}

// Main section styles
main {
  min-height: 100vh;
}
// Header styles
.header-wrapper {
  box-shadow: variables.$box-shadow-1 1.95px 1.95px 1.6px;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    gap: 10px;

    h1 {
      font-size: 20px;
      padding-top: 3px;
    }

    button {
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      gap: 7px;
      border-radius: 30px;
      cursor: pointer;
      padding: 10px;
      font-size: 20px;
      &:hover {
        opacity: 0.7;
        background-color: rgba(255, 255, 255, 0.212);
      }
    }
  }
}

// Input and Filter section
section#filter {
  width: 100%;
  padding: 10px;
  max-width: 1200px;
  margin: 15px auto 0px;
  display: flex;
  gap: 10px;
  justify-content: space-between;

  .inputBox {
    box-shadow: variables.$box-shadow-1 0px 4px 12px;
    width: 60%;
    max-width: 400px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    border-radius: 4px;

    span {
      padding-top: 4.5px;
      font-size: 20px;
      margin-right: 10px;
    }
    input {
      border: none;
      padding: 8px;
      background-color: transparent;
      color: inherit;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }
  select {
    box-shadow: variables.$box-shadow-1 0px 4px 12px;
    border: none;
    padding-inline: 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 4px;
    cursor: pointer;
    &:focus {
      outline: none;
    }

    option {
      text-transform: capitalize;
    }
  }
}

// Country Card
article {
  background-color: variables.$darkm-txt-lightm-el;
  color: variables.$light-mode-txt;
  width: 100%;
  margin: 7px;
  max-width: 275px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }

  .content {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 20px;
      padding-bottom: 10px;
    }
    ul {
      list-style: none;

      li {
        font-size: 14px;
        font-weight: bold;
        span {
          font-weight: normal;
          padding-left: 8px;
          color: #757575;
        }
      }
    }
  }
}
// Countries Grid
section#countriesGrid {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 13px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.dark-mode {
  background-color: variables.$dark-mode-bg;
  .header-wrapper {
    background-color: variables.$dark-mode-el;
    color: variables.$darkm-txt-lightm-el;
    header {
      button {
        color: inherit;
      }
    }
  }
  section#filter {
    .inputBox {
      background-color: variables.$dark-mode-el;
      color: variables.$darkm-txt-lightm-el;
    }
    select {
      background-color: variables.$dark-mode-el;
      color: variables.$darkm-txt-lightm-el;
    }
  }
  article {
    background-color: variables.$dark-mode-el;
    color: variables.$darkm-txt-lightm-el;
    .content {
      ul {
        li {
          span {
            color: rgb(208, 208, 208);
          }
        }
      }
    }
  }
  section.tint {
    section#description {
      background-color: variables.$dark-mode-el;
      color: variables.$darkm-txt-lightm-el;

      button {
        background-color: variables.$dark-mode-bg;
        color: inherit;
      }
    }
  }
}
.light-mode {
  background-color: variables.$light-mode-background;
  color: variables.$light-mode-txt;

  .header-wrapper {
    header {
      button {
        &:hover {
          background-color: rgba(206, 206, 206, 0.447);
        }
      }
    }
  }
  article {
    box-shadow: variables.$box-shadow-2 1px 4px 8px 1px;
  }
}
section.tint {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  padding-top: 2em;
  background-color: variables.$tint-bg;

  section#description {
    background-color: variables.$light-mode-background;
    padding: 10px;
    width: 90%;
    max-width: 1200px;
    border-radius: 10px;
    min-height: fit-content;
    margin: auto;

    img {
      width: 40%;
      max-width: 400px;
    }
  }
}

@media (max-width: 950px) {
  section#filter {
    .inputBox {
      padding: 5px 10px;
    }

    select {
      padding: 8px;
      font-size: 12px;
    }
  }
  .header-wrapper {
    padding-inline: 5px;
    header {
      h1 {
        font-size: 16px;
      }
    }
  }
  article {
    width: 100%;
    max-width: 380px;
  }
  section#filter {
    padding-inline: 15px;
  }
  section.tint {
    padding: 0;
    section#description {
      border-radius: 0;
      padding: 20px;
      width: 100%;
      padding-top: 60px;
      position: relative;
      font-size: 14px;

      button {
        position: absolute;
        top: 10px;
        display: flex;
        align-items: center;
        padding: 10px 30px 10px 20px;
        border: none;
        border-radius: 4px;
      }
      img {
        width: 100%;
        display: block;
        margin: auto;
      }
      .content {
        h1 {
          font-size: 17px;
          padding-block: 5px;
          text-align: center;
        }
        ul {
          list-style: none;
          text-align: left;
          max-width: fit-content;
          margin: auto;
          width: 100%;
          max-width: 390px;

          li {
            font-weight: 500;
            display: flex;
            justify-content: space-between;

            span {
              font-weight: normal;
              margin-left: 8px;
            }
          }
        }
      }
      ul.borders {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        li {
          margin-left: 8px;
        }
      }
    }
  }
}

// Desktop styles
@media (min-width: 950px) {
  section.tint {
    justify-content: space-between;
    section#description {
      display: flex;
      align-items: center;
      gap: 25px;
      min-height: 600px;
      padding-inline: 40px;
      position: relative;

      button {
        position: absolute;
        left: 40px;
        top: 100px;
        border: none;
        padding: 10px 25px 10px 15px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        gap: 10px;
        box-shadow: variables.$box-shadow-1 1.95px 1.95px 2.6px;
        cursor: pointer;
      }
      .content {
        h1 {
          font-size: 20px;
          margin-bottom: 20px;
        }
        ul.grid {
          list-style: none;
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 10px;

          li {
            font-weight: 500;
            margin-bottom: 3px;
            span {
              font-weight: normal;
              margin-left: 10px;
            }
            span.tz {
              margin-right: 2px;
            }
          }
        }

        ul.borders {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-top: 20px;
          list-style: none;
          p {
            margin-right: 10px;
          }
          li {
            background-color: rgb(255, 255, 255);
            color: variables.$light-mode-txt;
            border: 1px solid gainsboro;
            margin: 5px;
            padding: 3px 8px;
            border-radius: 2px;
            span {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

.show {
  display: block;
}
.hide {
  display: none;
}
