* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  word-break: break-word;
}

body img {
  max-width: 100%;
}
body li.domain {
  display: flex;
}

main {
  min-height: 100vh;
}

.header-wrapper {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 1.6px;
}
.header-wrapper header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  gap: 10px;
}
.header-wrapper header h1 {
  font-size: 20px;
  padding-top: 3px;
}
.header-wrapper header button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 30px;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}
.header-wrapper header button:hover {
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 0.212);
}

section#filter {
  width: 100%;
  padding: 10px;
  max-width: 1200px;
  margin: 15px auto 0px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
section#filter .inputBox {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
  width: 60%;
  max-width: 400px;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  border-radius: 4px;
}
section#filter .inputBox span {
  padding-top: 4.5px;
  font-size: 20px;
  margin-right: 10px;
}
section#filter .inputBox input {
  border: none;
  padding: 8px;
  background-color: transparent;
  color: inherit;
  width: 100%;
}
section#filter .inputBox input:focus {
  outline: none;
}
section#filter select {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
  border: none;
  padding-inline: 15px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 4px;
  cursor: pointer;
}
section#filter select:focus {
  outline: none;
}
section#filter select option {
  text-transform: capitalize;
}

article {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
  width: 100%;
  margin: 7px;
  max-width: 275px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
article:hover {
  opacity: 0.8;
}
article .content {
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
}
article .content h1 {
  font-size: 20px;
  padding-bottom: 10px;
}
article .content ul {
  list-style: none;
}
article .content ul li {
  font-size: 14px;
  font-weight: bold;
}
article .content ul li span {
  font-weight: normal;
  padding-left: 8px;
  color: #757575;
}

section#countriesGrid {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 13px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.dark-mode {
  background-color: hsl(207, 26%, 17%);
}
.dark-mode .header-wrapper {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.dark-mode .header-wrapper header button {
  color: inherit;
}
.dark-mode section#filter .inputBox {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.dark-mode section#filter select {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.dark-mode article {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.dark-mode article .content ul li span {
  color: rgb(208, 208, 208);
}
.dark-mode section.tint section#description {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}
.dark-mode section.tint section#description button {
  background-color: hsl(207, 26%, 17%);
  color: inherit;
}

.light-mode {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}
.light-mode .header-wrapper header button:hover {
  background-color: rgba(206, 206, 206, 0.447);
}
.light-mode article {
  box-shadow: rgba(99, 99, 99, 0.3) 1px 4px 8px 1px;
}

section.tint {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  padding-top: 2em;
  background-color: rgba(93, 97, 107, 0.7882352941);
}
section.tint section#description {
  background-color: hsl(0, 0%, 98%);
  padding: 10px;
  width: 90%;
  max-width: 1200px;
  border-radius: 10px;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin: auto;
}
section.tint section#description img {
  width: 40%;
  max-width: 400px;
}

@media (max-width: 950px) {
  section#filter .inputBox {
    padding: 5px 10px;
  }
  section#filter select {
    padding: 8px;
    font-size: 12px;
  }
  .header-wrapper {
    padding-inline: 5px;
  }
  .header-wrapper header h1 {
    font-size: 16px;
  }
  article {
    width: 100%;
    max-width: 380px;
  }
  section#filter {
    padding-inline: 15px;
  }
  section.tint {
    padding: 0;
  }
  section.tint section#description {
    border-radius: 0;
    padding: 20px;
    width: 100%;
    padding-top: 60px;
    position: relative;
    font-size: 14px;
  }
  section.tint section#description button {
    position: absolute;
    top: 10px;
    display: flex;
    align-items: center;
    padding: 10px 30px 10px 20px;
    border: none;
    border-radius: 4px;
  }
  section.tint section#description img {
    width: 100%;
    display: block;
    margin: auto;
  }
  section.tint section#description .content h1 {
    font-size: 17px;
    padding-block: 5px;
    text-align: center;
  }
  section.tint section#description .content ul {
    list-style: none;
    text-align: left;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: auto;
    width: 100%;
    max-width: 390px;
  }
  section.tint section#description .content ul li {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
  section.tint section#description .content ul li span {
    font-weight: normal;
    margin-left: 8px;
  }
  section.tint section#description ul.borders {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
  }
  section.tint section#description ul.borders li {
    margin-left: 8px;
  }
}
@media (min-width: 950px) {
  section.tint {
    justify-content: space-between;
  }
  section.tint section#description {
    display: flex;
    align-items: center;
    gap: 25px;
    min-height: 600px;
    padding-inline: 40px;
    position: relative;
  }
  section.tint section#description button {
    position: absolute;
    left: 40px;
    top: 100px;
    border: none;
    padding: 10px 25px 10px 15px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
  }
  section.tint section#description .content h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  section.tint section#description .content ul.grid {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  section.tint section#description .content ul.grid li {
    font-weight: 500;
    margin-bottom: 3px;
  }
  section.tint section#description .content ul.grid li span {
    font-weight: normal;
    margin-left: 10px;
  }
  section.tint section#description .content ul.grid li span.tz {
    margin-right: 2px;
  }
  section.tint section#description .content ul.borders {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    list-style: none;
  }
  section.tint section#description .content ul.borders p {
    margin-right: 10px;
  }
  section.tint section#description .content ul.borders li {
    background-color: rgb(255, 255, 255);
    color: hsl(200, 15%, 8%);
    border: 1px solid gainsboro;
    margin: 5px;
    padding: 3px 8px;
    border-radius: 2px;
  }
  section.tint section#description .content ul.borders li span {
    margin-left: 5px;
  }
}
.show {
  display: block;
}

.hide {
  display: none;
}/*# sourceMappingURL=styles.css.map */